@import '../../../../styles/variables.scss';

.loginButton {
  width: 266px;
  padding: 8px 0;
  margin: 15px 0;
  color: #ffffff;
  background-color: #b2dffc;
  border: none;
  border-radius: $border-radius;
  outline: none;
  transition: 0.2s;
  font-weight: bold;
}
.loginButtonChange {
  width: 266px;
  padding: 8px 0;
  margin: 15px 0;
  color: #ffffff;
  background-color: #0095f6;
  border: none;
  border-radius: $border-radius;
  outline: none;
  transition: 0.2s;
  font-weight: bold;
}
