@import '../../../styles/variables.scss';

.loginYoujin {
  @include flexCenter;
  height: 100vh;
  article {
    @include flexCenter;
    width: 30%;
    border: 1px solid $color-outline;
    .logo {
      text-align: center;
      p {
        @include logoText;
        margin: 30px;
      }
      .findPw {
        margin: 50px;
        .findPwText {
          color: #124373;
          text-decoration: none;
        }
      }
    }
  }
}
