.commentList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  .commentBox {
    display: flex;
    align-items: center;

    .commentName {
      font-weight: 700;
      margin-right: 10px;
    }
  }
  .userComment {
    color: rgb(63, 63, 63);
  }
}
