@import '../../../styles/variables.scss';

.recommendContainer {
  margin-top: 80px;
  padding-left: 20px;
  width: 300px;

  .myProfile {
    @include flexBetween;
    margin-bottom: 30px;

    .myProfileMeta {
      @include flexCenter;

      .myProfileImg {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }

      .myProfileText {
        padding-left: 10px;

        .myProfileLeftName {
          font-weight: 700;
          margin: 0;
        }

        p:nth-child(2) {
          color: rgb(122, 122, 122);
          font-size: 14px;
          margin: 0;
        }
      }
    }

    .fllowBt {
      width: 50px;
      color: #0095f6;
      border-style: none;
      background: none;
      font-size: 14px;
      text-align: end;
    }
  }

  .recommend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    span {
      font-size: 14px;
      color: rgb(122, 122, 122);
    }

    .moreBt {
      border-style: none;
      background: none;
    }
  }
}
