@import '../../../styles/variables.scss';

.mainYoujin {
  header {
    @include flexCenter;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
