@import '../../../styles/variables.scss';

header {
  @include flexCenter;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
