@import '../../../../styles/variables.scss';
.LoginBtn {
  width: 100%;
  margin: 10px;
  .beforeButton {
    width: 100%;
    padding: 10px;
    background-color: #c5e1fa;
    border: none;
    border-radius: $border-radius;
    font-size: 15px;
    text-align: center;
    color: #fff;
  }
}
