@import '../../../../styles/variables.scss';

.loginFormYoujin {
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputBox {
      width: 90%;
      margin: 10px;
      padding: 10px;
      color: #9a9a9a;
      background-color: #fafafa;
      border: 1px solid #e6e6e6;
      border-radius: $border-radius;
      font-size: 15px;
      outline: none;
    }

    .loginBtnYoujin {
      width: 90%;
      margin: 10px;

      .beforeButton {
        width: 100%;
        padding: 10px;
        color: #fff;
        background-color: #c5e1fa;
        border: none;
        border-radius: $border-radius;
        font-size: 15px;
        text-align: center;
      }

      .afterButton {
        width: 100%;
        padding: 10px;
        color: #fff;
        background-color: #0095f6;
        border: none;
        border-radius: $border-radius;
        font-size: 15px;
        text-align: center;
      }
    }
  }
}
