@import '../../../../styles/variables.scss';

.feedsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-right: 50px;

  .feed {
    display: flex;
    flex-direction: column;
    width: 614px;
    margin-bottom: 30px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);

    .profileWrap {
      @include flexBetween;
      width: 570px;
      height: 60px;
      margin: 0 auto;
      padding: 20px 0;

      .logoWrap {
        display: flex;
        align-items: center;

        h2 {
          margin-left: 5px;
          font-size: 14px;
        }

        i {
          cursor: pointer;
        }

        img {
          width: 32px;
          height: 32px;
          background-color: black;
          border-radius: 16px;
        }
      }
    }

    .photoWrap {
      width: 612px;

      img {
        width: 100%;
      }
    }
    .feedsPictogram {
      @include flexBetween;
      width: 570px;
      height: 40px;
      margin: 0 auto;
      padding-top: 10px;

      .feedsPictogramLeft {
        display: flex;
        justify-content: space-between;
        width: 100px;

        img {
          width: 24px;
          cursor: pointer;
        }
      }
      .saveIcon {
        width: 24px;
        cursor: pointer;
      }
    }

    .goodWrap {
      display: flex;
      align-items: center;
      width: 570px;
      margin: 0 auto;

      p {
        margin-left: 5px;
        padding: 10px 0;
        color: #262626;
        font-size: 14px;
        font-weight: bold;
      }

      .goodImg {
        width: 20px;
        height: 20px;
        border-radius: 10px;
      }
    }
    .textWrap {
      display: flex;
      flex-direction: column;
      width: 570px;
      margin: 0 auto;
      font-size: 14px;

      .text {
        color: #00376b;
      }

      p {
        margin-top: 3px;
        line-height: 20px;
      }

      .comment {
        .commentNameBold {
          font-weight: bold;

          .commentName {
            font-weight: normal;
          }
        }

        .heart {
          width: 15px;
          cursor: pointer;
        }

        .heartColor {
          display: none;
          width: 15px;
          cursor: pointer;
        }
        li.commentText {
          display: flex;
          justify-content: space-between;
          margin-top: 2px;
        }
        span.commentNameBold {
          margin-right: 5px;
        }
      }

      .commentStart {
        i {
          font-size: 15px;
          margin-left: 3px;

          .fa-trash-alt {
            display: none;
            color: gray;
            cursor: pointer;
          }

          .fa-heart {
            display: none;
            cursor: pointer;
          }

          .colorHeart {
            display: none;
            color: #f44336;
            cursor: pointer;
          }
        }
      }

      .commentView {
        color: #8e8e8e;
      }

      .time {
        color: #8e8e8e;
        font-size: 10px;
      }

      span {
        font-size: 14px;
      }

      i.fas.fa-heart.redHeart {
        display: inline-block;
      }

      i.fas.fa-heart.blackHeart {
        display: inline-block;
      }
    }
    .commentContainer {
      display: flex;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      border-top: 1px solid $color-outline;

      .commentWrap {
        @include flexBetween;
        width: 570px;
        margin: 0 auto;

        input {
          width: 500px;
          border: none;
          background: none;
          outline: none;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          color: #bfe0fd;
        }
      }
    }
  }
}
