@import '../../../../styles/variables.scss';

.commentBox {
  width: 100%;

  ul {
    list-style: none;
    text-align: left;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 5px 10px;

      .writeId {
        padding-right: 5px;
        font-weight: 600;
      }
    }
  }
}
