@import '../../styles/variables.scss';
.nav {
  width: 100%;
  nav {
    @include flexBetween;
    width: 70%;
    margin: 10px auto;
    .logoBar {
      @include flexCenter;
      img {
        width: 30px;
        margin-right: 10px;
      }
      .logoName {
        padding-left: 10px;
        border-left: 1px solid #000;
        text-decoration-line: none;
        @include logoText($logoText: 30px);
        color: #000;
      }
    }
    .searchBar {
      position: relative;
      padding: 0 auto;
      input {
        padding: 5px 20px;
        outline: none;
        border: 1px solid $color-outline;
        border-radius: 3px;
        background-color: #fafafa;
        font-size: 15px;
      }
    }
    .naviBar {
      @include flexCenter;
      img {
        width: 30px;
        margin: 0 10px;
      }
    }
  }
}
